@use 'vars';
@use 'defaults';
@use 'auth';
@use 'app';
@use 'list-orders';
@use 'profile';

.modal-content {
    display: flex;
    width: 300px;
    min-height: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: var((--space));
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        li {
            display: flex;
            justify-content: space-between;
            &.title {
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
    }
    .modal-close-button {
        font-size: 32px;
        width: 45px;
        margin-left: auto;
        border: none;
    }
    .modal-title {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
    }
    @media (min-width: 576px) {
        width: 500px;
    }
    
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    &.show {
        display: flex;
    }
}

.total-resumo {
    display: block;
    text-align: right;
}

.flex {
    display: flex;
}

